<p></p>

<nav>
  <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-rekognition-tab" data-toggle="tab" (click)="goTest('rekognition');" role="tab" aria-controls="nav-home" aria-selected="true">Rekognition Test</a>
    <a class="nav-item nav-link active" id="nav-textract-tab" data-toggle="tab" (click)="goTest('textract');"  role="tab" aria-controls="nav-profile" aria-selected="false">Textract Test</a>
    <a class="nav-item nav-link" id="nav-transcribe-tab" data-toggle="tab" (click)="goTest('transcribe');"  role="tab" aria-controls="nav-contact" aria-selected="false">Transcribe Test</a>
  </div>
</nav>

<app-test-rekognition *ngIf="this.feature === 'rekognition'"></app-test-rekognition>
<app-test-textract *ngIf="this.feature === 'textract'"></app-test-textract>
<app-test-transcribe *ngIf="this.feature === 'transcribe'"></app-test-transcribe>
